.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

/*https://i2-prod.mirror.co.uk/incoming/article5423744.ece/ALTERNATES/s615b/MOST-BEAUTIFUL-FACES.jpg*/